body, html {
    margin: 0;
    overflow: hidden;
}

#space {
    background: url('../textures/space.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    top: -100px;
    left: -100px;
    width: 150%;
    height: 150%;
    -webkit-animation: spaceanime 25s infinite;
    -moz-animation: spaceanime 25s infinite;
    -o-animation: spaceanime 25s infinite;
    animation: spaceanime 25s infinite;
}

#galaxy {
    z-index: 50;
    position: relative;
}


@keyframes spaceanime {
    0% {
        transform: scale(1) ;
        animation-timing-function: ease-in;
    }
    25% {
        transform: scale(1.1)rotate(3deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: scale(1.1) rotate(6deg);
    }
    75% {
        transform: scale(1) rotate(3deg);
    }
    100% {
         transform: scale(1)rotate(0deg);
    }
}

#toolbar {
    padding: 15px 0;
    background: rgba(255,255,255,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #fff;
}

#toolbar a, #toolbar span {
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    color: #999;
    opacity: .8;
    margin: 0 0 0 10px;
}

#toolbar .active {
    opacity: 1;
    color: #fff;
}

#toolbar .right {
    float: right;
    opacity: 1;
    color: #fff;
    margin: 0 10px 0 0;
}