body, html {
    margin: 0;
    overflow: hidden;
}

body {
    background: url('../textures/space.jpg') no-repeat;
    background-size: 100% 100%;
}

#toolbar {
    padding: 15px 0;
    background: rgba(255,255,255,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #fff;
}

#toolbar a, #toolbar span {
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    color: #999;
    opacity: .8;
    margin: 0 0 0 10px;
}

#toolbar .active {
    opacity: 1;
    color: #fff;
}

#toolbar .right {
    float: right;
    opacity: 1;
    color: #fff;
    margin: 0 10px 0 0;
}